<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% bookings_sorted = @bookings.sorted_by_begin_date %>

    <% bookings_sorted.each do |booking| %>
      <tr>
        <td><%= booking.user_name %></td>
        <td><%= booking.begin_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.room_id %></td>
      </tr>
      </tr>
        <td class = "booking--link"><%= link_to 'Show', booking %></td>
        <td class = "booking--link"><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td class = "booking--link"><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
