<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booking.id %>

  <br>
  arrival date
  <%= @booking.begin_date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
