<p id="notice"><%= notice %></p>

<p>
  <strong>Booking number:</strong>
  <%= @booking.id %>

  <br>
  Arrival date:
  <%= @booking.begin_date %>

  <br>
  Departure date:
  <%= @booking.end_date %>

  <br>
  Booked room
  <%= @booking.room_id %>

  <br>
  Number of persons
  <%= @booking.num_persons %>

</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
