<!-- ROOMS -->

<%= form_for(booking) do |f| %>


   <%= f.label :username %>
   <%= f.text_field :user_name %>

   <%= f.label :arrivaldate %>
   <%= f.date_field :begin_date %>

   <%= f.label :departuredate %>
   <%= f.date_field :end_date %>

   <%= f.label :room %>
   <%= f.number_field :room_id %>

   <%= f.label :numberofperson %>
   <%= f.number_field :num_persons %>

   <%= f.submit (@bookings.new_record? ? "Create" : "Update") %>
<% end %>

<!--
<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->
